<%- include('head') %>
<body>
 <main class="hp-bg-color-dark-90 d-flex min-vh-100">
   <%- include('navbar') %>
   <div class="hp-main-layout-content">
      <div class="row mb-32 g-32">
         <div class="col flex-grow-1 overflow-hidden">
            <div class="row g-32">
               <div class="col-12">
                 <div class="hp-border-color-black-0 hp-border-color-dark-80 hp-bg-black-20 hp-bg-dark-80 hp-rounded-12">
                    <div class="card-body">
                       <h1 class="hp-mb-0">Quản lý tin nhắn liên hệ</h1>
                       <div class="table-responsive">
                        <table class="table table-striped">
                           <thead>
                              <tr>
                                 <th>STT</th>
                                 <th>Họ và Tên</th>
                                 <th>Email</th>
                                 <th>Số điện thoại</th>
                                 <th>Tin nhắn</th>
                                 <th>Hành động</th>
                              </tr>
                           </thead>
                           <tbody>
                              <% messages.forEach((message, index) => { %>
                              <tr>
                                 <td><%= index + 1 %></td>
                                 <td><%= message.full_name %></td>
                                 <td><%= message.email %></td>
                                 <td><%= message.phone_number %></td>
                                 <td><%= message.message %></td>
                                 <td>
                                    <a href="/admin/deleteContact/<%= message.id %>" class="btn btn-danger">Xóa</a>
                                 </td>
                              </tr>
                              <% }) %>
                           </tbody>
                        </table>
                       </div>
                    </div>
                 </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
